* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

/* *** Hompepage header styling *** */
.homepage-header {
    display: flex;
    flex-flow: wrap;
    height: 100vh;
}

.header-img {
    width: 50%;
}
.header-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.homepage-logo {
    position: absolute;
    top: 35px;
    left: 30px;
}

.header-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home-navbar {
    align-self: flex-end;
}

.home-navbar ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 20px 20px 0px 0px;

}

.home-navbar li {
    font-size: 20px;
    color: #0070eb;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px 0 0; 
}

.home-navbar a {
    font-size: 20px;
    color: #0070eb;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px;
}

.food-search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.food-search-title {
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 30px;
}

.food-search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-search-form input {
    width: 55%;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
}

.food-search-btn {
    height: 100%;
    width: 25%;
    background-color: #0070eb;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 1rem;
}

.perks-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 5.5rem;
}

.perk-card {
    text-align: center;
    padding: 50px 40px;
    line-height: 1.5;
}

.perks-img {
    height: 100px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.hero-info {
    width: 50%;
    padding: 3rem 3rem 7rem 7rem;
    line-height: 1.5;
}

.hero-img {
    width: 50%;
}